# ignore all, whitelist approach
*
# don't ignore folders and subfolders
!*/
/cmake-build-debug
/cmake-build-release
/.idea
/bin
/build
src/src/
src/test/
src/CMakeFiles/

# don't ignore .gitignore
!.gitignore

# don't ignore these file types
!*.c
!*.sh
!*.h
!*.md
!*.cpp
!*.hpp

#ignore these
src/CMakeCache.txt
